@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");

    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Vazir.woff2") format("woff2"),
        url("../fonts/Vazir.woff") format("woff"),
        url("../fonts/Vazir.ttf") format("truetype");

}

body {
    font-family: "Vazir" !important;
}


/* Header */

.scroll-show {
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header {
    transition: all 0.3s ease-in;
    padding: 20px 0;
}

@media (max-width : 992px) {
    .header { 
        background-color: #fff;
    }
}